<div class="name-currency">
    <i class="red-arrow"></i>
    {{currentname}}
</div>
<div class="sell">
    <div class="current-price" ng-class="{'down-arrow-left': !arrowsell, 'up-arrow-left': arrowsell}">{{sell}}</div>
    <div class="left"></div>
    <div class="name red">sell</div>
</div>
<div class="middle-screen">
    {{ratio}}
</div>
<div class="buy">
    <div class="current-price" ng-class="{'down-arrow-right': !arrowbuy, 'up-arrow-right': arrowbuy}">{{buy}}</div>
    <div class="right"></div>
    <div class="name">buy</div>
</div>